doctype html
html(lang='en')
    head
        title Magnetic - Stunning Responsive HTML5/CSS3 Photography Wensite Template
        meta(charset='utf-8')
        meta(name='author', content='pixelhint.com')
        meta(name='description', content='Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        link(rel='stylesheet', type='text/css', href='/css/reset.css')
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='/css/global.css')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/main.js')
    body
        header
            .logo
                a(href='index.html')
                    img(src='/img/logo.png', title='Magnetic', alt='Magnetic')
            // end logo
            #menu_icon
            nav
                ul
                    li
                        a(href='index.html') Home
                    li
                        a(href='blog.html') Blog
                    li
                        a(href='gallery.html') Gallery
                    li
                        a.selected(href='board.html') Message Boards
                    li
                        a(href='contact.html') Contact Me
            // end navigation menu
            .footer.clearfix
                ul.social.clearfix
                    li
                        a.fb(href='#', data-title='Facebook')
                    li
                        a.twitter(href='#', data-title='Twitter')
                    li
                        a.behance(href='#', data-title='Behance')
                    li
                        a.dribble(href='#', data-title='Dribble')
                // end social
                .rights
                    p Copyright © 2014 magnetic.
                    p
                        | Template by
                        a(href='') Pixelhint.com
                // end rights
            // end footer
        // end header
        section.main.clearfix
            h1(style='font-size:50px;') 敬请期待...
        // end main
