doctype html
html(lang='en')
    head
        title Magnetic - Stunning Responsive HTML5/CSS3 Photography Wensite Template
        meta(charset='utf-8')
        meta(name='author', content='pixelhint.com')
        meta(name='description', content='Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        link(rel='stylesheet', type='text/css', href='/css/reset.css')
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='/css/global.css')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/main.js')
    body
        header
            .logo
                a(href='/')
                    img(src='/img/logo.png', title='Magnetic', alt='Magnetic')
            // end logo
            #menu_icon
            nav
                ul
                    li
                        a.selected(href='/') Home
                    li
                        a(href='blog') Blog
                    li
                        a(href='gallery') Gallery
                    li
                        a(href='board') Message Boards
                    li
                        a(href='contact') Contact Me
            // end navigation menu
            .footer.clearfix
                ul.social.clearfix
                    li
                        a.fb(href='#', data-title='Facebook')
                    li
                        a.twitter(href='#', data-title='Twitter')
                    li
                        a.behance(href='#', data-title='Behance')
                    li
                        a.dribble(href='#', data-title='Dribble')
                // end social
                .rights
                    p Copyright © 2014 magnetic.
                    p
                        | Template by
                        a(href='') Pixelhint.com
                // end rights
            // end footer
        // end header
        section.main.clearfix
            .work
                a(href='blog')
                    img.media(src='/img/t.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 Blog
            .work
                img.media(src='/img/work2.jpg', alt='')
                .GalleryCaption
                    .work_title
                        h1 Tezml
            .work
                a(href='gallery')
                    img.media(src='/img/e.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 Gallery
            .work
                a(href='board')
                    img.media(src='/img/z.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 Message Boards
            .work
                a(href='contact')
                    img.media(src='/img/m.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 Contact Me
            .work
                a(href='#')
                    img.media(src='/img/l.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 敬请期待...
        // end main
                 