doctype html
html(lang='en')
    head
        title Tezml
        meta(charset='utf-8')
        meta(name='author', content='pixelhint.com')
        meta(name='description', content='Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        include ./includes/head
    body
        include ./includes/header
        block content
