header
    .logo
        a(href='/')
            img(src='/img/logo.png', title='Magnetic', alt='Magnetic')
    #menu_icon
    nav.bar
        ul(bar=classSeleced)
            li
                a.index(href='/') Home
            li
                a.blog(href='/blog') Blog
            li
                a.gallery(href='/gallery') Gallery
            li
                a.board(href='/board') Message Boards
            li
                a.contact(href='/contact') Contact Me
    .footer.clearfix
        ul.social.clearfix
            li
                a.fb(href='https://www.facebook.com/tezml.gir', data-title='Facebook')
            li
                a.twitter(href='https://twitter.com/tezml1', data-title='Twitter')
            li
                a.behance.wechat.ewm(href='#', data-title='Wechat')
                .ewm_wechat.ewm_box
                    img(src="../img/wx_ewm.png")
            li
                a.dribble.qq.ewm(href='#', data-title='QQ')
                .ewm_qq.ewm_box
                    img(src="../img/qq_ewm.png")
        .rights
            p Copyright © 2014 magnetic.
            p
                | Template by
                a(href='') Pixelhint.com