link(rel='stylesheet', type='text/css', href='/css/reset.css')
link(rel='stylesheet', type='text/css', href='/css/main.css')
link(rel='stylesheet', type='text/css', href='/css/global.css')
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/main.js')
script(type='text/javascript', src='/js/tezml.js')