header
    .logo
        a(href='/')
            img(src='/img/logo.png', title='Magnetic', alt='Magnetic')
    #menu_icon
    nav.bar
        ul(bar=classSeleced)
            li
                a.index(href='/') Home
            li
                a.blog(href='blog') Blog
            li
                a.gallery(href='gallery') Gallery
            li
                a.board(href='board') Message Boards
            li
                a.contact(href='contact') Contact Me
    .footer.clearfix
        ul.social.clearfix
            li
                a.fb(href='#', data-title='Facebook')
            li
                a.twitter(href='#', data-title='Twitter')
            li
                a.behance(href='#', data-title='Behance')
            li
                a.dribble(href='#', data-title='Dribble')
        .rights
            p Copyright © 2014 magnetic.
            p
                | Template by
                a(href='') Pixelhint.com