doctype html
html.no-js(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='css/reset-contect.css')
      link(rel='stylesheet', href='css/style-contect.css')
      script(src='js/lib/modernizr.js')
      title 3D Folding Panel
   body
      .cd-fold-content.single-page
         h2 This Is Me
         div.img_box
            .img_me.img
            .img_me2.img
         p
            | 我是一个来自北京的奔三路上的小胖子，在北京做前端工程师。
         p
            | html,css,js,jQuery,angularJs,backbone,Mootools,nodeJs什么的，我是一个都不会，哈哈哈，开个玩笑。
         p
            | 身为一名不才的前端程序猿，正努力在node之中有所作为，本站就是我一个拙劣的例子吧。
         p
            | 除了写代码，我还是个足球热爱者，虽然上学时候断过腿后就胖了，但是没有影响到我对于足球的热爱，我是一个AC米兰的球迷，哈哈。
         p
            | 同时，游戏，桌游和音乐也是我生活中的一大乐趣，我最喜欢一边听音乐一边玩实况足球。周末和朋友们来一盘狼人杀，不要太开心，哈哈。
         p
            | 我喜欢和志同道合的人交朋友，如果你跟我有同样的乐趣，联系我吧，一起玩耍。

   script(src='js/lib/main.js')
