doctype html
html.no-js(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='css/reset-contect.css')
      link(rel='stylesheet', href='css/style-contect.css')
      script(src='js/lib/modernizr.js')
      title 3D Folding Panel
   body
      .cd-fold-content.single-page
         h2 网站介绍
         em 介绍一下我的第一个个人博客网站吧。
         p
            | 有很多人觉得博客网站很简单，一个模板，说露骨点，一个WordPress，不就搞定了吗，写个样式改改版，洒洒水嘛。但是我真的看不惯WordPress，或者说我想有一个只属于的我博客站，而不是"自豪的引用WordPress"
         p
            | 这个网站是通过mongoDB作为数据库，nodeJs来后台服务。整个网站从设计到css样式，到JS，到后台node，以及mongoDB数据库，都是我一个人搞的。
         p
            | 其实做这种网站不用这么费劲什么都自己来，但是我就是希望通过我自己的力量完成它。从我下定决心制作它开始，到完完整整1.0版本完结上线，稀稀拉拉历经不到一个月，虽然不是很完美吧，但是依然很欣慰。
         p
            | 虽然小站还有很多好的功能，服务都没有，但是我相信在不久的将来就会迎来2.0版本，3.0版本。。
   script(src='js/lib/main.js')
