extends ../layout
block content
        section.main.clearfix
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='http://www.cheris.cn/1232.html') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
            .work
                a(href='inner')
                    .blogCaption
                        img.sevenB(src='/img/work1.jpg', alt='')
                        .work_title
                            h3.post-item-title
                                a(href='inner') 陪伴
                            .post-item-inner
                                .post-meta
                                    span.user
                                        i.icon user
                                        | by:
                                        a.green(href='#') Tezml
                                    span.time
                                        i.icon time
                                        | 2015/08/24
                                p 说一下最近的情况。 大半年时间没有更博，也没有打理自己的网站，只是偶尔想起来了看看自己的服务是不是还正常运行， […]
        // end main
