extends ../layout
block content
    link(rel='stylesheet', type='text/css', href='http://fonts.useso.com/css?family=Vollkorn|Open+Sans:400,700')
    link(rel='stylesheet', type='text/css', href='/css/reset-contect.css')
    link(rel='stylesheet', type='text/css', href='/css/default-contect.css')
    link(rel='stylesheet', type='text/css', href='/css/style-contect.css')
    script(type='text/javascript', src='/js/lib/modernizr.js')
    section.main.clearfix
        main.cd-main
            ul.cd-gallery
                li.cd-item
                    a(href='/welcome/')
                        div
                            h2 Welcome to Tezml
                            b View More
                li.cd-item
                    a(href='/AboutMe/')
                        div
                            h2 About Me
                            b View More
                li.cd-item
                    a.dark-text(href='/AboutWebsite/')
                        div
                            h2 About Website
                            b View More
                li.cd-item
                    a(href='/ContactMe/')
                        div
                            h2 Contact Me
                            b View More
            // .cd-gallery
            // .cd-main
        .cd-folding-panel
            .fold-left
            // this is the left fold
            .fold-right
            // this is the right fold
            .cd-fold-content
                // content will be loaded using javascript
            a.cd-close(href='#0')

    script(type='text/javascript', src='/js/lib/main.js')
