doctype html
html.no-js(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='css/reset-contect.css')
      link(rel='stylesheet', href='css/style-contect.css')
      script(src='js/lib/modernizr.js')
      title 3D Folding Panel
   body
      .cd-fold-content.single-page
         h2 如何找到我
         em
         p
            |QQ：826269846
         p
            |邮箱：tezml@tezml.com
         p
            |FaceBook：
            a(href='https://www.facebook.com/tezml.gir' target='_blank') https://www.facebook.com/tezml.gir
         p
            |twitter：
            a(href='https://twitter.com/tezml1' target='_blank') https://twitter.com/tezml1
         p
            |GitHub：
            a(href='https://github.com/tezml' target='_blank') https://github.com/tezml

   script(src='js/lib/main.js')
