doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
        title tezml--上传图片
        link(rel='stylesheet', type='text/css', href='/css/webuploader.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
        link(rel='stylesheet', type='text/css', href='/css/global.css')
    body
        #wrapper
            #container
                // 头部，相册选择和格式选择
                #uploader
                    .queueList
                        #dndArea.placeholder
                            #filePicker
                            p 或将照片拖到这里，单次最多可选300张
                    .statusBar(style='display:none;')
                        .progress
                            span.text 0%
                            span.percentage
                        .info
                        .btns
                            #filePicker2
                            .uploadBtn 开始上传
        ul.tagBox
            each  item in photos
                li.tag #{item.type}
            li.addtag
                input.textIpt(type='text')
                input.addIpt(type='button', value='添加类型')
        input.pu(type='button', value='同步到前台')
        .info_cover
            p.tit  作品封面：
            .cover_box
                span#cover_upload 上传封面
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/lib/webuploader.js')
        script(type='text/javascript', src='/js/upload.js')
                   