extends ../layout
block content
        section.main.clearfix
            each item in gallery
                .work
                    a(href='photo/#{item.id}')
                        img.media(src='#{item.titleImg}', alt='#{item.titleImg}')
                        .GalleryCaption
                            .work_title
                                h1 #{item.title}