extends ../layout
block content
        section.main.clearfix
            .work
                a(href='photo')
                    img.media(src='/img/work1.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
            .work
                a(href='photo')
                    img.media(src='/img/work2.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
            .work
                a(href='photo')
                    img.media(src='/img/work3.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
            .work
                a(href='photo')
                    img.media(src='/img/work4.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
            .work
                a(href='photo')
                    img.media(src='/img/work5.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
            .work
                a(href='photo')
                    img.media(src='/img/work6.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
            .work
                a(href='photo')
                    img.media(src='/img/work2.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
            .work
                a(href='photo')
                    img.media(src='/img/work3.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
            .work
                a(href='photo')
                    img.media(src='/img/work1.jpg', alt='')
                    .GalleryCaption
                        .work_title
                            h1 图册类型
        // end main
