extends ../layout

block content
    section.main.clearfix
        .work
            a(href='blog')
                img.media(src='/img/t.jpg', alt='')
                .GalleryCaption
                    .work_title
                        h1 Blog
        .work
            img.media(src='/img/tezmlB.png', alt='')
            .GalleryCaption
                .work_title
                    h1 Tezml
        .work
            a(href='gallery')
                img.media(src='/img/e.jpg', alt='')
                .GalleryCaption
                    .work_title
                        h1 Gallery
        .work
            a(href='board')
                img.media(src='/img/z.jpg', alt='')
                .GalleryCaption
                    .work_title
                        h1 Message Boards
        .work
            a(href='contact')
                img.media(src='/img/m.jpg', alt='')
                .GalleryCaption
                    .work_title
                        h1 Contact Me
        .work
            a(href='#')
                img.media(src='/img/l.jpg', alt='')
                .GalleryCaption
                    .work_title
                        h1 敬请期待...
