extends ../layout
block content
        section.main.clearfix
            section.top
                .wrapper.content_header.clearfix
                    .work_nav
                        ul.btn.clearfix
                            li
                                a.previous(href='inner/#{data._id}', data-title='Previous')
                            li
                                a.grid(href='/blog', data-title='Portfolio')
                            li
                                a.next(href='inner/#{data._id}', data-title='Next')
                    // end work_nav
                    h1.title #{data.title}
            // end top
            section.wrapper
                div.content(sid="#{data._id}")

            script(type='text/javascript', src='/js/inner.js')
