extends ../layout
block content
        script(type='text/javascript', src='/js/photo.js')
        section#box.main.clearfix
                ul.waterFlow
                ul.waterFlow
                ul.waterFlow
                ul.waterFlow
                ul.waterFlow
                ul.waterFlow
                ul.waterFlow