doctype html
html.no-js(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='css/reset-contect.css')
      link(rel='stylesheet', href='css/style-contect.css')
      script(src='js/lib/modernizr.js')
      title 3D Folding Panel
   body
      .cd-fold-content.single-page
         h2 欢迎来到Tezml博客站
         em
         p
            | 欢迎来到Tezml博客站，千呼万唤始出来，Tezml终于和大家见面了。
         p
            | 如你所见，Tezml博客站绝非传统意义上的博客系统，我们始终相信，离开WordPress的博客站，可以生而不同。
         p
            | 在这里，你可以看到我的博客，我的图集，关注我的QQ，微信,FaceBook，Twitter，关注我的更多动态
         p
            | 如果你对我的网站有更多的建议或者交流，欢迎通过联系方式找到我哦！
   script(src='js/lib/main.js')
